# Common
node_modules
dist
.nuxt
.nuxt-storybook
coverage
examples
playground

# Plugin
storybook/entry.js
storybook/main.js
storybook/middleware.js
storybook/eject/*
storybook/preview.js
storybook/nuxt-entry.js
