name: ci-examples

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  ci:
    runs-on: ubuntu-latest
    name: ${{ matrix.package }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - package: Playground
            buildScript: dev:build
            storybookBuildScript: playground:storybook:build
            projectToken: chpt_d7cf5e98426e11e
          - package: Starter
            buildScript: example:starter:build
            storybookBuildScript: example:starter:storybook:build
            projectToken: chpt_dc04103f8a32bfa
          - package: Tailwind
            buildScript: example:tailwind:build
            storybookBuildScript: example:tailwind:storybook:build
            projectToken: chpt_fbfe47dc27d4064
          - package: Showcase
            buildScript: example:showcase:build
            storybookBuildScript: example:showcase:storybook:build
            projectToken: chpt_a53adf402cb628c
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Build example
        run: pnpm ${{ matrix.buildScript }}

      - name: Publish and test example
        uses: chromaui/action@f1f9e3277eb1eaa8cba4c6bcebc9809291ee29ea # v15.0.0
        with:
          # Don't wait until Chromatic verified the build
          # exitOnceUploaded: true
          projectToken: ${{ matrix.projectToken }}
          buildScriptName: ${{ matrix.storybookBuildScript }}
          # Fail workflow if changes are found
          exitZeroOnChanges: false
          debug: true
