name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # Keep this in sync with the oldest Node.js version supported by the storybook
        node: [20.19.0, 22, 24]
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - node: 24
            os: ubuntu-latest
            release-nightly: true
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          # Needed for the nightly release to calculate the version bump
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: pnpm install

      - name: Lint
        run: pnpm lint

      - name: Test
        run: pnpm test:coverage

      - name: Build
        run: pnpm build

      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps

      - name: Run Playwright tests
        run: pnpm test:playwright

      - name: Upload Playwright report
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: ${{ !cancelled() }}
        with:
          name: playwright-report-${{ runner.os }}-${{ matrix.node }}
          path: playwright-report/
          retention-days: 30

      - name: Nightly release
        if: |
          github.event_name == 'push' &&
          matrix.release-nightly &&
          !contains(github.event.head_commit.message, '[skip-release]') &&
          !startsWith(github.event.head_commit.message, 'docs')
        run: pnpm nightly-release
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPMJS_TOKEN }}
