name: E2E tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  e2e-tests:
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.os }}-${{ matrix.node }}
      cancel-in-progress: true
    name: 'Starter'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # Keep this in sync with the oldest Node.js version supported by the storybook
        node: [20, 21]
        os: [ubuntu-latest, windows-latest, macos-latest]
    env:
      # renovate: datasource=npm depName=storybook
      STORYBOOK_VERSION: 9.0.4
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Build packages
        run: pnpm package
        env:
          NODE_ENV: 'production'

      - name: Create Sample Project
        shell: pwsh
        run: |
          $packages=Get-ChildItem -Path packages -Recurse -Filter "*.tgz"
          echo "$packages"
          New-Item -Path ${{ runner.temp }}/example -ItemType Directory
          pnpm nuxt init ${{ runner.temp }}/example --packageManager pnpm --force --gitInit=false
          cd ${{ runner.temp }}/example
          pnpm dlx storybook@${{ env.STORYBOOK_VERSION }} init
          pnpm add $packages

      - name: Build Storybook
        run: pnpm build-storybook
        working-directory: ${{ runner.temp }}/example
