name: E2E tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  e2e-tests:
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.os }}-${{ matrix.node }}
      cancel-in-progress: true
    name: 'Starter'
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        node: [20]
        os: [ubuntu-latest, windows-latest, macos-latest]
    env:
      # renovate: datasource=npm depName=storybook
      STORYBOOK_VERSION: '9.0.5'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Install Verdaccio
        shell: bash
        run: |
          pnpm install -g verdaccio wait-on
          verdaccio --listen 4873 &
          wait-on --log http://localhost:4873
          curl http://localhost:4873
          TOKEN_RES=$(curl -XPUT \
                    -H "Content-type: application/json" \
                    -d '{ "name": "test", "password": "test" }' \
                    'http://localhost:4873/-/user/org.couchdb.user:test')
          TOKEN=$(echo "$TOKEN_RES" | jq -r '.token')
          pnpm config set //localhost:4873/:_authToken $TOKEN
          pnpm config set registry http://localhost:4873/

      - name: Install dependencies
        run: pnpm install

      - name: Build packages
        run: |
          pnpm jiti prepare-release.ts --nightly
          pnpm publish --recursive --tag latest --no-git-checks --report-summary
        env:
          NODE_ENV: 'production'

      - name: Create Sample Project
        shell: pwsh
        run: |
          New-Item -Path ${{ runner.temp }}/example -ItemType Directory
          pnpm nuxt init ${{ runner.temp }}/example --packageManager pnpm --force --gitInit=false
          cd ${{ runner.temp }}/example
          pnpm dlx storybook@${{ env.STORYBOOK_VERSION }} init
          pnpm list --long

      - name: Build Storybook
        run: pnpm build-storybook
        working-directory: ${{ runner.temp }}/example
